<footer>
  <p class="copyright">&copy;2017 Vikings Robotics</p>
  <p class="contact us">ljhsvikingrobotics@gmail.com</p>
  <p class ="school-address">750 Nautilus St, La Jolla, CA 92037</p>
  <a href="https://github.com/FRCTeam2984"><img src = "/images/octo-cat.png"></a>
</footer>
