<footer>
  <address>
    &copy;2017-2018&nbsp;Vikings
  </address>
  <address>
    750 Nautilus St., La Jolla, CA 92037
  </address>
  <address>
    <a href="mailto:ljhsvikingrobotics@gmail.com">ljhsvikingrobotics@gmail.com</a>
  </address>
  <ul class="social">
    <li>
      <a href="https://github.com/FRCTeam2984"><img src="/images/octo-cat.png" alt="Github"></a>
    </li>
  </ul>
</footer>
