<footer>
  <address>
    &copy;2017-2018&nbsp;Vikings
  </address>
  <address>
    750 Nautilus St., La Jolla, CA 92037
  </address>
  <address>
    <a href="mailto:ljhsvikingrobotics@gmail.com">ljhsvikingrobotics@gmail.com</a>
  </address>
  <ul class="social">
    <li>
      <a href="https://github.com/FRCTeam2984"><img src="/images/octo-cat.jpg" alt="Github"></a>
      <a href="https://discordapp.com/invite/RshDdxa"><img src="/images/discordlogo.jpg" alt="Discord"></a>
      <a href="https://www.foundationofljhs.com/donate-to-academics.html#roboticsteam"><img src="/images/theBigDonateButton.png" alt="Donate"></a>
    </li>
  </ul>

</footer>
