<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{#if description}}
      <meta name="description" content="{{description}}">
    {{/if}}

    {{#block "meta"}}{{/block}}

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">

    {{#block "style"}}{{/block}}

    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{>title}}
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Vikings
        <span class="internal-logo">
          <img src="/images/favicon.png" alt="Viking Robotics">
        </span>
        Robotics</a>
      </h1>
      {{>main-nav}}
    </header>
    <main>
      {{#block "body"}}{{/block}}
    </main>
    {{>footer}}
    {{#block "end-scripts"}}{{/block}}
    {{>analytics}}
  </body>
</html>
