<nav>
  <ol>
    <li><a href="/team/">Team</a></li>
    <li><a href="/sponsors/">Sponsors</a></li>
    <li><a href="/calendar/">Calender</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact-us/">Contact Us</a></li>
  </ol>
</nav>
