<nav>
  <ol>
    <li><a href="/about-us/">About Us</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/community/">Community Outreach</a></li>
    <li><a href="/supporters/">Supporters</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/calendar/">Calendar</a></li>
    <!--<li><a href="/team/">Team</a></li>-->
  </ol>
</nav>
