<nav>
  <ol>
    <li><a href="/">Team</a></li>
    <li><a href="/donors/">Donors</a></li>
    <li><a href="/">Calender</a></li>
    <li><a href="/">Resources</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ol>
</nav>