<nav>
  <ol>
    <li><a href="/team/">Team</a></li>
    <li><a href="/fundraising/">Fundraising</a></li>
    <li><a href="/calendar/">Calender</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/about-us/">About Us</a></li>
  </ol>
</nav>
