<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{#if description}}
      <meta name="description" content="{{description}}">
    {{/if}}

    {{#block "meta"}}{{/block}}

    <!-- bootstrap styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    
    {{#block "style"}}{{/block}}

    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{>title}}
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Vikings
        <span class="internal-logo">
          <img src="/images/favicon.png" alt="Viking Robotics">
        </span>
        Robotics</a>
      </h1>
      {{>main-nav}}
    </header>
    <main>
      {{#block "body"}}{{/block}}

      <!--js to fix formatting -->
      <script src="/js/table.js"></script>
    </main>

    {{>footer}}
    {{#block "end-scripts"}}{{/block}}
    {{>analytics}}
  </body>
</html>
