{{#extend "main"}}
  {{#content "style"}}
    <link rel="stylesheet" href="/css/index.css">
    {{#if styles}}
      {{#each styles as |style|}}
        <link rel = "stylesheet" href = "/css/{{style}}.css">
      {{/each}}
    {{/if}}
  {{/content}}
  {{#content "body"}}
    <article>
      <header>
          {{#if hide-title}}
            {{!-- no-op --}}
          {{else}}
            <h1>{{title}}</h1>
          {{/if}}
      </header>
      <div class="main">
        {{{contents}}}
    </article>
  {{/content}}
{{/extend}}
