article {
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #a0a0a0;
}

article header {
  margin-bottom: 0.5em;
}

article header h1 {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 0.4em;
}

article header h2 {
  font-size: 90%;
  color: #a0a0a0;
}

article header a {
  text-decoration: none;
  color: inherit;
}

article header a:hover {
  text-decoration: underline;
}
