article header h1 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 140%;
}

article .main h1 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 110%;
}

article .main ul {
  list-style: disc outside none;
  margin-bottom: 1em;
}

article .main ul, article .main ol {
  margin-left: 0;
  padding-left: 2em;
}

article .main li {
  margin-bottom: 0.5em;
}