.sponsor-video {
  background-color: grey;
  height: 200px;
  margin-bottom: 2em;
}

.sponsor-logos {
  background-color: white;
  height: auto;
  width: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
}
.smallerHeight {
  height: 40%;
}
@media screen and (max-width: 500px) {
.column{
  float: left;
  width: 100%;
  padding: 10 px;
}
}
.row: ::after{
  content: "";
  clear: both;
  display: table;

}
article .main address {
  margin-bottom: 1em;
  background-color: #d0ffd0;
  display: inline-block;
  padding: 0.5em;
}

article .main address p {
  margin-bottom: 0.1em;
}
